<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container mt-4 col-lg-6">
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th>NOM</th>
          <th>PRENOM</th>
          <th>NIVEAU</th>
          <th>EMAIL</th>
          <th>ACTIONS</th>        
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let student of students">
            <td>{{student.nom}}</td>
            <td>{{student.prenom}}</td>
            <td>{{student.niveau}}</td>
            <td>{{student.email}}</td>
            <td>
              <button (click) = "updateStudent(student)" class="btn btn-info" >Editer</button>
              <button (click) = "onDeleteStudent(student.idStudent)" class="btn btn-danger" style="margin-left: 10px;">Supprimer</button>
            </td>
          </tr>
      </tbody>
    </table>
  </div>
</body>
</html>
