<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <!-- Brand -->
      <a class="navbar-brand" href="#">Logo</a>

      <!-- Links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#" >Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/students">Etudiant</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Eleve</a>
        </li>

        <!-- Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            Actions
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" routerLink="/addStudent">Ajouter</a>
            <a class="dropdown-item" >Modifier</a>
            <a class="dropdown-item">Supprimer</a>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            [username]
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">login</a>
            <a class="dropdown-item" href="#">logout</a>
          </div>
        </li>

      </ul>
    </nav>
</body>
</html>

